html{
  font-family: 'Scheherazade New', serif;
  min-height: 100%;

}

html, body,#root {
  background:#fafafa;
  background-image: linear-gradient(
    rgba(193, 207, 192,0.5), 
    rgba(151, 11, 139, 0.5)), 
    url("./assets/images/images_B3.jpg");

  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#root {


  font-size: 15px;
  display: grid;
  /* grid-template-areas:
  "header"
  "main"
  "footer";*/
  
  grid-template-areas:
  "header"
  "main" 
  "footer";
  grid-template-columns: auto;
  grid-template-rows: 70px 1fr 100px; 
  gap: 0.5em;
}
header{
  grid-area: header;
}
.main{
grid-area: main;
}
footer{
  border-top: rgb(116, 114, 114) 1px solid;
  padding-top: 1em;
  grid-area: footer;

}
.img-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-width{
  width: 93%;
  margin: 0 auto;
}
.color-bg-t{
  background-color: rgba(24, 23, 23, 0.8);
  color: #f5f6f5;
  box-shadow: 4px 2px 74px -13px rgba(161, 153, 153, 0.57);


}

